.Card.Body {
    display: inline-block;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px #ccc;
    width: 200px;
    padding: 20px;
      
  }

  .my-component {
    background-image: "url(h4.jpg)";
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }

  .containerStyle {
    display: 'flex';
    alignItems: 'center';
    justifyContent: 'center';
    height: '100vh';
    }


    